{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/zj-components"
        },
        "extensions": [".js", ".ts", ".tsx"]
      }
    ]
  ]
}
