.ZJ-tab-content-container {
  overflow: hidden;
}

.ZJ-tab-content {
  display: flex;

  transition: transform 1.5s;
}

.ZJ-tab-panel {
  width: 100%;
  flex: 1 0 auto;
}

.ZJ-tab-item {
  color: #5a5a5a;
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  min-height: 20px;
}

.ZJ-tab-item.selected {
  color: #3b91f7;
  font-weight: 500;
}

.ZJ-tab-item.disabled {
  color: #c2c2c2;
  cursor: not-allowed;
}

.ZJ-card-tab-item {
  border: 1px #e8e8e8 solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fafafa;
  margin: 0px 1px;
}

.ZJ-card-tab-item.selected {
  border-bottom: none;
  background: white;
}

.ZJ_tab-item_line-indicator {
  width: 100%;
  height: 3px;
  background: #3b91f7;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* transition: transform 1s; */
  /* animation: indicatorM-move ease-in-out 1s; */
}

/* @keyframes indicatorM-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */

.ZJ-tabbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e8e8e8; */
}

.ZJ-tabbar-left-arrow,
.ZJ-tabbar-right-arrow,
.ZJ-tabbar-left-arrow img,
.ZJ-tabbar-right-arrow img {
  width: 20px;
  height: 20px;
  /* cursor: pointer; */
}

.ZJ-tabbar-content {
  width: calc(100% - 40px);
  /* background: white; */
  overflow: hidden;
}
