.component-level_item {
  position: relative;
  padding: 6px 42px 6px 8px;
  background: white;

  cursor: pointer;
  border-bottom: 1px solid #c2c2c2;
}

.component-level_item.selected {
  color: #1890ff;
  font-weight: 600;
}

.component-level_item_drag-bar,
.component-level_item_drag-bar::before,
.component-level_item_drag-bar::after {
  position: absolute;

  width: 26px;
  height: 3px;
  background: red;
}

.component-level_item_drag-bar {
  top: 16px;
  right: 8px;
}

.component-level_item_drag-bar::before {
  content: '';
  bottom: 6px;
}
.component-level_item_drag-bar::after {
  content: '';
  top: 6px;
}
