.home_left-sider {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home_left-sider_item {
  width: 70px;
  height: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.home_left-sider_item_img {
  width: 70px;
  height: 70px;
  background: red;
}

.home_left-sider_item_title {
  font-size: 15px;
}
